.account {
  display: flex;
  align-items: center;
  transition-duration: 0.2s;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }

  &:hover {
    text-decoration: underline;
    color: var(--yellow-500);
  }
}