.menu {
  display: flex;
  align-items: center;

  li + li {
    margin-left: 2rem;
  }
}

.menuItem {
  a {
    font-weight: bold;
    padding: 0.5rem;
    transition-duration: 0.2s;

    &:hover {
      text-decoration: underline;
      color: var(--yellow-500);
    }
  }

  button {
    background: transparent;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;

    svg {
      margin-right: 0.5rem;
    }

    &:hover {
      text-decoration: underline;
      color: var(--yellow-500);
    }
  }
}