.cart {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.cartAmount {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--red-400);

  color: var(--white);
  font-weight: 600;
  font-size: var(--xs);
  text-align: center;
}